<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<!-- The kit sync (auto-snapshot.sh) installs listed packages with
     "pkexec /usr/local/bin/rebuild-install PACKAGE...": always asks for the password, never keeps it. -->
<policyconfig>
  <action id="org.rebuild.install">
    <description>Install packages from the kit lists</description>
    <message>The kit sync wants to install packages that your other machines have: $(command_line)</message>
    <icon_name>system-software-install</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/rebuild-install</annotate>
  </action>
</policyconfig>
