[Unit]
Description=elephant, the data provider behind walker
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/elephant
Restart=on-failure

[Install]
WantedBy=graphical-session.target
